{% extends 'base.html' %}

{% block head %}
<title>ShortenURL</title>
{% endblock %}

{% block body %}

<div class="container">
<form action="/" method="POST" style="margin-top:60px;">
  <div class="form-group">
      {% if URLS %}
            {% for url in URLS %}
                <label style="margin-top:20px;">Your long URL:</label>
                <input id="inputURL" type="text" class="form-control" name="URLoutputlong" aria-describedby="URLHelp" value="{{ url.LongURL }}">
            {% endfor %}
      {% else %}

            <label>Please enter your URL</label>
            <input type="text" class="form-control" name="URLinput" aria-describedby="URLHelp" placeholder="Enter URL">
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
      {% endif %}
          {% for url in URLS %}
                <label style="margin-top:20px;">Your new short URL:</label>
                <input type="text" class="form-control" name="URLoutputshort" aria-describedby="URLHelp" value="172.105.88.150{{ url.shortURL }}">
           {% endfor %}
  </div>
    {% if URLS %}
    </form>
    <form action="/" method="GET">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Back</button>
        </div>
    </form>
    {% else %}
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}


</div>


{% endblock %}
