{% extends 'base.html' %}

{% block head %}
    <title>Title</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="column" style="margin: 0 auto;"></div>
            <table id="statsTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Stat</th>
                        <th scope="col">Last Day</th>
                        <th scope="col">Last Hour</th>
                        <th scope="col">Last Minute</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <th scope="row">Number of redirections</th>
                            <td>{{ redirectsDay }}</td>
                            <td>{{ redirectsHour }}</td>
                            <td>{{ redirectsMinute }}</td>
                     </tr>
                     <tr>
                        <th scope="row">Number of bad requests</th>
                        <td>{{ errorsDay }}</td>
                        <td>{{ errorsHour }}</td>
                        <td>{{ errorsMinute }}</td>
                     </tr>
                     <tr>
                </tbody>
            </table>

        <h4>Total number of URLs registered in the database: {{ amount }} </h4>

        </div>
    </div>
</div>
{% endblock %}