<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column" style="margin: 0 auto;">
            <p>Total number of URLs registered in the database:{{ amount }} </p>
            <p>Total number redirects in the last day is :{{ redirectsDay }} </p>
            <p>Total number redirects in the last hour is :{{ redirectsHour }} </p>
            <p>Total number redirects in the last minute is :{{ redirectsMinute }} </p>
            <p>Total number of Bad Requests in the last day: {{ errorsDay }}</p>
            <p>Total number of Bad Requests in the last hour: {{ errorsHour }}</p>
            <p>Total number of Bad Requests in the last day: {{ errorsMinute }}</p>
        </div>
    </div>
</div>
</body>
</html>